extends layout

block content
  h2.w3-center Lista de Contratos
  table.w3-table-all
    thead
      tr.w3-teal
        th ID
        th Objeto do Contrato
        th Data de Celebração do Contrato
        th Preço Contratual
        th NIPC da Entidade Comunicante
        th Entidade Comunicante
    tbody
      each contrato in contratos
        tr
          td
            a(href=`/contratos/${contrato._id}` class="w3-text-teal")= contrato._id
          td= contrato.objectoContrato
          td= contrato.dataCelebracaoContrato
          td= contrato.precoContratual
          td
            a(href=`/entidades/${contrato.NIPC_entidade_comunicante}` class="w3-text-teal")= contrato.NIPC_entidade_comunicante
          td= contrato.entidade_comunicante